@{
    ViewData["Title"] = "Projeto Final Curso MS-DEV - Benjamim Jr";
}

<a class="text-center">
    <h6 class="display-4">Projeto Final da Jornada Microsoft Dev</h6>
     <a> 
        
         <p ><h6 class ="text-center"> Elevador Simples:</h6></p>
         <p class = "text-center"> Funções/Métodos:</p>
 <p><h6>-Inicializar -</h6> Recebe os parâmetros de quantidade de andares e capacidade do elevador.
	      para isso exibe as primeiras mensagens de interação.
<p><h6>-Entrar -</h6> Recebe os parâmetro das variáveis com a capacidade do elevador e a quantidade de pessoas atual.
	  dessa forma a mesma depois de executada atribui uma pessoa ao elevador caso o mesmo não esteja cheio.
	  por fim incrementa na variável quantidades de pessoas.
 
<p><h6>-Sair -</h6> Recebe os parâmetro da variável com a quantidade de pessoas atual.
	dessa forma a mesma depois de executada retira uma pessoa do elevador caso tenha alguma,
	caso não tenha o mesmo exibe uma mensagem dizendo que o elevador está vazio.

<p><h6>-Subir -</h6> Recebe os parâmetros da variável andar atual e quantidades de andares.
	quando executada, compara as variavéis para ver qual andar a pessoas se encontra 
	e se a mesma está no térreo ou no último andar, e também incrementa na variável andar atual.</p>

<p><h6>-Descer -</h6> Recebe os parâmetros da variável andar atual para que depois de executada 
	exiba qual o andar que o usuário se encontra, 
	depois decrementa na variável andar atual a cada execução.</p>
    <p ><h6 class ="text-center">Funcionamento do Programa:</h6></p>
<p>- O Programa inicia dando boa vindas ao usuário, depois segues com perguntas inciais para captura de dados. 
pergunta qual será a capacidade do elevador e quantos andares terá o edifícil. 
em seguida o programa pergunta se o usuario deseja entrar no elevador ou não.</p>
<p>caso sim, o usuário segue e é apresentado a ele o menu com as opções subir, descer e sair.</p>
<p>caso não queira entrar, o programa exibe uma mensagem de agradecimento e finaliza.</p>

<p>se o usuário escolher subir, o programa mostra quantas pessoas tem no elevador e segue com menu subir, descer e sair, mas, 
caso o usu´rio permaneça subindo e hegue até o ultimo andar, o programa o informa e so deve descer ou sair.</p>
<p>se o usuário escolher descer, logo de inicio nao será possivel pois o mesmo ja está no térreo e o programa irá lhe informar, 
mas, se o mesmo estiver nos andares a cima do térreo será sim possivel descer, e cada ver que o usuário se mover entre os andares 
o programa irá lhe iformar o andar atual.</p>
<p>se o usuário escolher sair, o programa exibira uma mensagem de agradecimento, 
uma mensagem de quantas pessoas existem no elevador e finalizará.
  </p>

     </a>
     </a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
